.app * {
  background-color: #30404D !important;
  color: #FFF !important;
}

.app * {
  transition: background-color 700ms ease-out;
}

.app[data-is-loading="true"] * {
  background-color: #304048 !important;
}

pre {
  font-family: inherit;
}
