.app {
  background-color: #182026;
  color: #EBF1F5;
}

.app[data-is-loading="true"] .show {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

pre {
  font-family: inherit;
}

.day .day-title {
  padding: 2px 16px;
  background: rgba(36, 42, 48, 1);
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.show {
  padding: 4px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.show .band {
  font-weight: bold;
}

.show .metadata {
  opacity: 0.6;
  font-size: 12px;
  margin-left: auto;
  text-align: right;
}
