.app * {
  background-color: #30404D !important;
  color: #FFF !important;
}

.app * {
  transition: background-color 700ms ease-out;
}

.app[data-is-loading="true"] * {
  background-color: #304048 !important;
}

pre {
  font-family: inherit;
}

.day {
  margin: 16px 0;
}

.show {
  padding: 8px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.show .band {
  font-size: 1.1em;
}

.show .metadata {
  opacity: 0.8;
}